<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Filmes</title>
</head>
<body>
<section layout:fragment="content">
    <a href="/admin/filmes/new">Cadastrar</a>
    <table class="table is-hoverable is-fullwidth">
        <thead>
            <th>Nome</th>
            <th>Duração</th>
            <th>Preço</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr th:each="filme:${filmes}">
                <td th:text="${filme.nome}">Wolverine</td>
                <td th:text="${{filme.duracao} + ' minutos'}">120</td>
                <td th:text="${'R$ ' + filme.preco }">120</td>
                <td>
                    <div style="display: flex; justify-content: space-around">
                        <a th:href="@{/admin/filmes/{id}(id=${filme.id})}" class="button is-link is-outlined">
                        <span class="icon is-small">
                            <i class="fa fa-pencil-square-o"></i>
                        </span>
                        </a>


                        <button type="button" class="button is-danger is-outlined" th:onclick="'remove('+${filme.id}+')'">
                        <span class="icon is-small">
                            <i class="fa fa-trash-o"></i>
                        </span>
                        </button>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        function remove(id){

            let redirectUrl = window.location.href;

            let request = {
                method: 'DELETE'
            };

            let url = `http://localhost:8080/admin/filmes/${id}`

            console.log(url);

            fetch(url, request)
                .then(function(response){
                    window.location.href = redirectUrl;
                })

        }
    </script>
</section>
</body>
</html>